.header {
  /* min-height: 52px; */
  max-width: 1184px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding-top: 28px;
}
@media screen and (max-width: 1194px) {
  .header {
    max-width: 90.625%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    max-width: 93.75%;
  }
}
@media screen and (max-width: 410px) {
  .header {
    max-width: 90%;
    padding-top: 16px;
  }
}
