.footer__links {
  list-style: none;
  display: inline;
  margin-right: 18px;
}
.footer__links:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 630px) {
  .footer__links {
    display: block;
    margin-bottom: 32px;
    margin-right: 0;
  }
  .footer__links:last-of-type {
    margin-bottom: 0;
  }
}
