.footer__copyright {
  font-size: 14px;
  line-height: 1.143;
  margin: 0;
  font-weight: 400;
}
@media screen and (max-width: 690px) {
  .footer__copyright {
    padding-top: 48px;
    font-size: 14px;
    line-height: 1;
  }
}
